
/*ORIGINAL*/
@import url(./fonts/roboto/font.css);

body {
  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2e3e4e;
}

a {
  color: #0cc2aa;
  cursor: pointer;
}

a:hover,
a:active {
  color: #0cc2aa;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}



/*=========== My addons =================*/
.form-control {
    background: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    color: inherit;
    border-color: rgba(120, 130, 140, 0.2);
    border-radius: 0;
    font-size: 16px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
      color: rgba(255, 255, 255, 0.87);
      background-color: #0cc2aa;
  }


.btn-primary {
  color: rgba(255, 255, 255, 0.87);
  background-color: #0cc2aa;
    border-color: #2e6da4;
}

.nav-tabs>li>a {
    color: rgba(255, 255, 255, 0.87);
    cursor: default;
    background-color: rgba(120, 130, 140, 0.13);
    /*border: 1px solid #ddd;*/
    border-bottom-color: transparent;
}




.panel {
  background-color: #293846;
}

.panel-footer {
    background-color: #354759 ;
    border-top: 1px solid #ddd;
    border-color: rgba(120, 130, 140, 0.13);

}
.panel-default {
    border-color: rgba(120, 130, 140, 0.13);
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
}

.nav-tabs {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #0cc2aa;
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-bottom-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #354759;
}

.nav-tabs>li>a:hover {
    border-color: rgba(120, 130, 140, 0.13) rgba(120, 130, 140, 0.13) rgba(120, 130, 140, 0.13);
}
